.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.stars {
  font-size: 14px;
  margin-right: 10px;
}

.updated {
  font-size: 14px;
}

.owner {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.ownerLink {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.ownerLink:hover {
  color: #ff5500;
}

.languages {
  margin-bottom: 10px;
}

.language {
  font-size: 14px;
  padding: 4px 8px;
  background-color: #ddd;
  border-radius: 4px;
}

.description {
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
}

.starIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}