.searchContainer {
  max-width: 350px;
  position: relative;
}

.organizationsInput {
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.inputIcon {
  position: absolute;
  top: 25%;
  right: 0;
}