.headerMainContainer {
  background-color: #101E2C;
  display: flex;
  height: 72px;
}

.headerContainer {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}